html,body, #root, .App{
  height:100%;
  width: 100%;
  overflow: visible;
}

.container{
  /* background-image: url(./whitepaper.jpg); */
  background-image: url(./whitepaper.jpg) ;
  background-repeat: round;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow-x: auto
}

.innerRectangle{
  width: 100%;
  height: 100%;
  background: white;
  outline-style: solid;
  outline-width: 1px;
}
.yes{
  float: left;
}
.no{
  float: right;
}
.circle {
  position: absolute;
  width:50px;
  height:50px;
  border-radius: 50%;
  background-color: red;
}
.SearchBar-Container{
  position: absolute;
  left:45%;
  top: 50%;
  height: 200px;

}
.SearchBar-Container-Result{
  overflow: auto;
  width: 100%;
  height: 100%;
  background: white;
  outline-style: solid;
  outline-width: 1px;
}